body {
  overflow: hidden;
  padding: 0;
  margin: 0;
}

#container {
  background-color: rgba(255, 245, 220, 1);
  position: absolute;
  height: 80%;
  width: 80%;
  left: 10%;
  top: 10%;
  border: black solid 1px;
  overflow: hidden;
  cursor: none;
  padding: 0;
  margin: 0;
}

.cat {
  height: 120px;
  width: 200px;
  margin: -60px 0 0 -100px;
  position: absolute;
  background-image: url(../images/cat.gif);
}

.mouse {
  height: 100px;
  width: 100px;
  position: absolute;
  background-image: url(../images/mouse.gif);
}
