body {
  overflow: hidden;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: gray;
  font-size: 1.5em;
}

#container {
  position: absolute;
  height: 100%;
  width: 100%;
  border: black solid 1px;
  overflow: hidden;
  cursor: none;
  padding: 0;
  margin: 0;
}

.cat {
  height: 120px;
  width: 200px;
  margin: -60px 0 0 -100px;
  position: absolute;
  background-image: url(../images/cat.gif);
}

.mouse {
  height: 100px;
  width: 100px;
  position: absolute;
  background-image: url(../images/mouse.png);
  background-size: contain;
}

#instructions {
  position: relative;
  margin: 0;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
}

#statistics {
  margin: 5px;
  padding: 0;
  position: absolute;
  right: 0;
  list-style: none;
}

#statistics li {
  text-align: right;
}

#totalSeconds:before{
  content: "Time: ";
}

#wildMice:before{
  content: "Wild: ";
}

#caughtMice:before{
  content: "Caught: ";
}

#score:before{
  content: "Amouzement: ";
}
